.table {
    width: 100%;
    margin: 0.8em 0 0.8em 0;
}

.table-text {
    text-align: left;
}

thead.table-headers {
  font-weight: bolder;
  background-color: none;
  font-size: larger;
  border-bottom: 1px solid #ffffff33;
}

tr.table-headers-row > th {
  padding-bottom: 1em;
}

table {
    width: 100%;
    font-size: 1rem;
}

th,
td {
    font-weight: lighter;
    padding: 5px;
}

tr {
  border: none;
}

tr.result-row:nth-child(odd) {
  background-color: #ffffff33;
}

tr.result-row:nth-child(even) {
  background-color: #8a8a8a33;
}
